<h1>BJs Logo Will Go Here</h1>

<%= link_to "Cosmotology", "/cosmotology"%>
<%= link_to "Esthetics", "/esthetics"%>
<%= link_to "Manicuring", "/manicuring"%>
<%= link_to "Barbering", "/barbering"%>
<%= link_to "Client Services", "/clients"%>
<%= link_to "Contact Us", "/contact"%>

<h2>Tacoma's Premier Destination to learn the art of beautifying! </h2>

<h2>Nested in Tacoma's vibrant South End neighborhood, BJ's Beauty and Barber College teaches students industry leading courses in Cosmotology, Esthetics, Manicuring and Barbering.</h2>